*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    //font-family: 'Roboto', sans-serif;
    font-family: $fuente-primaria;
}

h1,
h2,
h3,
h4 {
    color: $color-primario;
    font-family: $fuente-titulos;
}

a {
    text-decoration: none;
}


.ul-reset {
    list-style: none;
}




